.start {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.end {
    opacity: 0.4;
    transition: opacity 0.4s ease;
}

.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
